.idea 
Blood Bank Management System.v11.suo
*.suo
*.suo
Blood Bank Management System.v11.suo
*.dll
*.exe
*.config 
*.csproj
*.exe
*.dll
BloodBank.Core/bin/Release/BloodBank.Core.pdb
*.cache
BloodBank.Data/obj/Release/BloodBank.Data.pdb
*.cache
UserInterfaces/bin/Release/BloodBank.vshost.exe
*.dll
*.dll
*.suo
*.dll
BloodBank.Core/bin/Release/BloodBank.Entity.pdb
*.suo
*.pdb